{
  "printWidth": 100,
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": false,
  "quoteProps": "as-needed",
  "singleQuote": true,
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "endOfLine": "crlf",
  "jsxSingleQuote": true
}
