.button {
  @include font;
  margin-top: 1rem;
  padding: 0.5rem 2rem;
  background-color: $background-light;
  border: 1px solid $color-primary;
  border-radius: 3px;
  text-align: center;
  letter-spacing: 0.12em;
  color: $color-primary;
  cursor: pointer;

  @media only screen and (max-width: $breakpoint-medium) {
    font-size: 1.3rem;
    padding: 0.3rem 1rem;
  }
}
