.graphic {
  color: $color-primary-dark;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;

  &:hover {
    color: $color-primary-light;
  }

  &--margin {
    margin-bottom: 2rem;
  }
}
.arrow {
  &--padding {
    padding-left: 1rem;
  }
}
