.about {
  &__box {
    display: flex;
    flex-direction: row;
    align-items: center;

    @media only screen and (max-width: $breakpoint-smally) {
      padding: 3rem 1rem;
    }

    &--title {
      @include font;
      font-size: 3rem;
      color: $color-light;

      @media only screen and (max-width: $breakpoint-medium) {
        font-size: 2rem;
      }
    }

    &--subtitle {
      @include font;
      font-size: 2rem;
      color: $color-light;

      @media only screen and (max-width: $breakpoint-medium) {
        font-size: 1rem;
      }

      @media only screen and (max-width: $breakpoint-smally) {
        font-size: 0.8rem;
      }
    }

    &--description {
      @include font;
      font-size: 1rem;
      color: $color-light;

      @media only screen and (max-width: $breakpoint-medium) {
        font-size: 0.5rem;
      }

      @media only screen and (max-width: $breakpoint-smally) {
        font-size: 0.6rem;
      }
    }

    &--image {
      padding-right: 1rem;

      @media only screen and (max-width: $breakpoint-medium) {
        height: 120px;
        width: 130px;
      }

      @media only screen and (max-width: $breakpoint-smally) {
        height: 100px;
        width: 110px;
      }
    }
  }

  &__box--reverse {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    text-align: right;

    &--title {
      @include font;
      font-size: 3rem;
      color: $color-light;

      @media only screen and (max-width: $breakpoint-medium) {
        font-size: 2rem;
      }
    }

    &--subtitle {
      @include font;
      font-size: 2rem;
      color: $color-light;

      @media only screen and (max-width: $breakpoint-medium) {
        font-size: 1rem;
      }

      @media only screen and (max-width: $breakpoint-smally) {
        font-size: 0.6rem;
      }
    }

    &--image {
      padding-right: 1rem;
      transform: scaleX(-1);

      @media only screen and (max-width: $breakpoint-medium) {
        height: 120px;
        width: 130px;
      }

      @media only screen and (max-width: $breakpoint-smally) {
        height: 100px;
        width: 110px;
      }
    }

    &--description {
      @include font;
      font-size: 1rem;
      color: $color-light;

      @media only screen and (max-width: $breakpoint-medium) {
        font-size: 0.5rem;
      }
    }
  }
}
