.contact {
  @include display;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  position: relative;
  flex-direction: column;
  align-items: center;
  height: 100%;
  height: calc(var(--vh, 1vh) * 100);
  background-color: $background-dark;

  &__title {
    @include font;
    color: $font-color-light;
    font-size: 3rem;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 3rem;

    @media only screen and (max-width: $breakpoint-smally) {
      font-size: 2.5rem;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    padding: 0 1.5rem;

    @media only screen and (max-width: $breakpoint-smally) {
      width: 50%;
      margin: 0 auto;
    }

    &__label {
      @include font;
      color: $font-color-light;
      font-size: 1.5rem;
    }

    &__input {
      @include input;
      font-size: 1.5rem;
      max-width: 100%;

      &--textarea {
        @include input;
        font-size: 1.5rem;
        height: 100px;

        &:hover,
        &:focus,
        &:active {
          @include input;
        }
      }

      &:hover,
      &:focus,
      &:active {
        @include input;
      }

      &--submit {
        @include font;
        @include input;
        margin-top: 1rem;
        text-align: center;
        letter-spacing: 0.12em;
        color: $color-light;
        display: inline;
        font-size: 1.4rem;
        cursor: pointer;

        &:hover,
        &:focus,
        &:active {
          color: $color-primary-light;
        }

        @media only screen and (max-width: $breakpoint-medium) {
          font-size: 1.3rem;
          padding: 0.3rem 1rem;
        }

        @media only screen and (max-width: $breakpoint-smally) {
          font-size: 1em;
          padding: 0.5rem 0.7rem;
        }
      }
    }
  }
}
