.landing {
  @media only screen and (max-width: $breakpoint-medium) {
    padding: 0 3rem;
  }

  &__title {
    @include font;
    font-weight: bold;
    font-size: 12rem;
    letter-spacing: 0.12em;
    display: flex;
    flex-flow: wrap-reverse;

    color: $font-color;

    @media only screen and (max-width: $breakpoint-medium) {
      font-size: 7rem;
    }
  }

  &__subtitle {
    @include font;
    font-weight: bold;
    font-size: 3rem;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: $font-color-secondary;

    @media only screen and (max-width: $breakpoint-medium) {
      font-size: 2rem;
    }
  }

  &__user-info {
    @include font;
    font-weight: bold;
    font-size: 2.9rem;
    letter-spacing: 0.03em;
    margin-top: 4rem;

    @media only screen and (max-width: $breakpoint-medium) {
      font-size: 2rem;
    }

    &--paragraph {
      font-size: 1.5rem;

      @media only screen and (max-width: $breakpoint-medium) {
        font-size: 1rem;
      }
    }
  }

  &__img {
    @media only screen and (max-width: $breakpoint-medium) {
      height: 50px;
    }
  }
}
