.technologies {
  @include display;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  height: 60vh;
  height: calc(var(--vh, 1vh) * 60);
  background-color: $background-light;
  padding: 3rem 10rem;
  position: relative;
  flex-direction: column;
  align-items: center;

  @media only screen and (max-width: $breakpoint-medium) {
    height: 100%;
    height: calc(var(--vh, 1vh) * 100);
  }

  &__title {
    @include font;
    color: $font-color;
    font-size: 3rem;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    text-align: center;

    @media only screen and (max-width: $breakpoint-smallest) {
      font-size: 2.5rem;
    }
  }

  &__box {
    display: flex;
    flex-flow: row;
    padding: 3rem 0rem;

    @media only screen and (max-width: $breakpoint-medium) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
